<h2>Contact Us</h2>
<p>
Zerina Kapetanovic <br>
Assistant Professor <br>
Department of Electrical Engineering <br>
Stanford University <br>
<b>email:</b> zerina (at) stanford.edu <br>
<br>
David Packard Building <br>
Jane Stanford Way <br>
Stanford, CA 94305 <br>
</p>

<h3> Recent News </h3>
<ul style="padding-left:20px">
  <li><b>[12/2024]</b> SARLink: Satellite Backscatter Connectivity using Synthetic Aperture Radar was accepted to ACM SenSys 2025! </li>
  <li><b>[12/2024]</b> Hypercam: Low-power Computer Vision for IoT Cameras was accepted to ACM MobiCom 2025!</li>
  <li><b>[12/2024]</b> Bill won the 2024 Prototypes for Humanity Award for his project Terracell! </li>
  <li><b>[3/2024]</b> Geneva received the Stanford Apple PhD Fellowship in Integrated Systems!</li>
</ul>
