<h2>Contact Us</h2>
<p>
  Zerina Kapetanovic <br>
  Assistant Professor <br>
  Department of Electrical Engineering <br>
  Stanford University <br>
  <b>email:</b> zerina (at) stanford.edu <br>
  <br>
  David Packard Building <br>
  Jane Stanford Way <br>
  Stanford, CA 94305 <br>
</p>

<h3> Recent News </h3>
<ul style="padding-left:20px">
  <li><b>[06/2025]</b> Congrats to Bill Yen for being a <a
      href="https://ecopreneurship.stanford.edu/eco-sprint-2025/" target="_blank">2025 Stanford
      Eco-Sprint</a> awardee!</li>
  <li><b>[06/2025]</b> Congrats to Chae Young Lee for receiving the <a
      href="https://www.sigmobile.org/mobisys/2025/rising_stars_program/" target="_blank">Best
      Presentation Award</a> in the Rising Stars forum at ACM MobiSys 2025!</li>
  <li><b>[06/2025]</b> <a href="https://stanford.edu/~chae/paper/navhd.pdf"
      target="_blank">NavHD: Low-Power Learning for Micro-Robotic Controls in the Wild</a> was
    accepted to IEEE IROS 2025!</li>
  <li><b>[05/2025]</b> <a href="https://ieeexplore.ieee.org/document/11018425"
      target="_blank">Wireless Johnson Noise Thermometry for Passive Temperature Sensing</a> was
    accepted into the IEEE Journal of Microwaves! </li>
  <li><b>[12/2024]</b> <a href="https://dl.acm.org/doi/10.1145/3715014.3722061"
      target="_blank">SARLink: Satellite Backscatter Connectivity using Synthetic Aperture Radar</a>
    was accepted to ACM SenSys 2025! </li>
  <li><b>[12/2024]</b> <a href="https://arxiv.org/abs/2501.10547" target="_blank">Hypercam:
      Low-power Computer Vision for IoT Cameras</a> was accepted to ACM MobiCom 2025!</li>
  <li><b>[12/2024]</b> Bill won the <a
      href="https://ee.stanford.edu/bill-yen-wins-2024-prototypes-humanity-award-energy-section"
      target="_blank">2024 Prototypes for Humanity Award</a> for his project Terracell! </li>
  <li><b>[3/2024]</b> Geneva received the <b>Stanford Apple PhD Fellowship</b> in Integrated
    Systems!</li>
</ul>
